body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}

body h1,h2,h3{
	font-family:'Roboto Condensed';
}

h2{
	font-size: 44px;
	color: #923403;
}

h1{
	font-size: 45pt;
}

select:hover{
	cursor: pointer;
}

form button:hover {
    cursor: pointer;
}

a, a:hover, a:visited, a:link {
    text-decoration: none;
}

i:hover{
	color: #ff7000;
}

.h2-shares{
	color:#c0272d;
	font-family: 'Rooboto';
}

.title_info a:hover, h3:hover, .transparent_select:hover,
.menu_links li:hover{
	color: #ff7000;
}