*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}


.text-name{
	background: red;
	color:white;
}

.time-name{
	background: red;
	color:white;
}

/* header */
header{
	background: linear-gradient(to top, #792c08, #a43a00);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
	padding: 10px 100px 15px;
}

.header img{
	height: 100%;
	width: auto;
}

.left{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

header h3{
	color: #fff;
	font-size: 20px;
	display: inline-block;
	margin-bottom: 0;
	padding-left: 15px;
	padding-right: 25px;
}

.header_delimiter{
	padding-right: 15px;
	color: #ff7000;
	font-size: 30px;
}

.svg_mini{
	height: 30px;
	width: auto;
}

.marker_sity{
	margin-right: 10px;
}

header select{
	font-size: 20px;
}

.transparent_select{
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
}

.select_sity{
	width: 70px;
}

.transparent_select option{
	background: transparent !important;
}

.personal_area{
	padding-left: 25px;
}
/* header end */

/* title_info */
.title_info{
	background: #564a46;
	padding: 10px 100px 20px;
	color: #fff;
	text-transform: uppercase;
}

h1{
	font-size: 30px;
	font-family: "RobotoRegular";
	letter-spacing: 5px;
	font-weight: 300;
	margin-bottom: 0;
	display: inline-block;
}

.img_eye{
	height: 27px;
}

.svg_eye_info{
	height: 50px;
	position: relative;
    margin-top: -25px;
}

.text_eye{
	color: #ff7000;
    font-size: 25px;
    position: relative;
    margin-left: -48px;
    width: 45px;
    margin-top: -20px;
    text-align: center;
}
/* title_info end */

/* main_info */
.main_info{

}
/* main_info end */


/* recomented*/

.recommended{
	background: #edeceb;
}
.rec-h2{
	padding-top: 35px;
	color:#923403;
	font-family: "RobotoRegular";
	text-align: center;
	margin-bottom: 50px;
}


.img-item{
	border: 1px solid grey;
	width: 100%;
	height: 100%;
}


.recommended-item-price{
	font-family: 'Roboto-Medium';
	font-size: 24px;
	font-weight: 500;
	color:#ff7000;
}

.recommended-item-title{
	font-size: 22px;
	margin-bottom: 5px;
	font-family: 'Roboto-Medium';
	font-weight: 500;
	color:#564a46;
}



/* recomented*/

/* review*/

.reviews{
	background: #f6f6f6;
}

/* review*/
/* analitics*/

.analytics{
	background: #edeceb;
}
.data-p{
	color:#ff7000;
}

.block-data {
	margin-top: 25px;
	margin-bottom: 50px;
	display: flex;
	font-size: 24px;
	font-family: "RobotoRegular";
}

.special-info{
	margin-bottom: 40px;
}
.info-p{
	display: flex;
}

.info-p-2{
	display: flex;
	font-family: "RobotoRegular";
	font-size: 24px;

}

.lc{
	font-family: 'Roboto-Medium';
	font-size: 24px;
	background: #993602;
	color:white;
	padding: 20px 30px;
	border-radius: 8px;
}
.info-p{
	font-size: 24px;
	font-family: "RobotoRegular";
}

.btn-back{
	padding: 10px 20px;
	font-family: 'Roboto-Medium';
	font-size: 24px;
	background: #564a46;
	color:white;
	border-radius: 8px;
}
/* analitics*/
