*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}


.text-name{
	background: red;
	color:white;
}

.time-name{
	background: red;
	color:white;
}



/* recomented*/

.rec-h2{
	color:#923403;
	text-align: center;
	margin-bottom: 50px;
}


.img-item{
	border: 1px solid grey;
}


.recommended-item-price{
	color:#ff7000;
}


/* recomented*/