*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}


.text-name{
	background: #c0272d;
	color:white;
	font-size: 40pt;
	padding-left: 40px;
	font-family: "Roboto Light";
	width: 100%;
	display: flex;
	align-items: center;
}

.time-name{
	background: #c0272d;
	color:white;
	font-size: 24pt;
	display: flex;
	margin-bottom: 0;
	align-items: center;

}

.share-item{
	display: flex;
}

.review{

}


.block-share{
	padding-bottom: 25px;
}



.block-share-2{
	padding-bottom: 25px;
}


.block-share-3{
	padding-bottom: 20px;
}

.away-p{
	padding-top: 20px;
	padding: 20px 50px 40px;
	font-family: "Roboto Regular";
}
.bg-row{
	background: white;
}

.block-pt{
	background: #c0272d;
	margin-left: 15px;
	text-align: center;
}
.maps{
	background: #f6f6f6;
	width: 100%;
}
#map {
	padding-bottom: 50px;
}

.area-class textarea{
	width: 50%;
}
#map iframe{
	width: 100%;
	height: 500px;
}

.btn-get-back{
	width: 100%;
	text-align: right;
	padding-bottom: 50px;
	padding-right: 50px;
}
.maps-h2{
	font-size: 44pt;
	font-family: 'Roboto Condensed';
	padding-bottom: 30px;
	font-weight: 400;
}


.area-class{
	margin-top: 25px;
}
.fa-angle-up{


	position: absolute;

	padding-top: 15px;

	font-size: 25px;
	color: white;
	padding-left: 10px;
}
.shares{
	background: #edeceb;
}
.padding-regt{
	padding-right: 100px;
}
.text-date-news{
	padding-left: 15px
}

.feedback{
	display: flex;


}

.radio-btn{
	display: flex;
	margin-top: 25px;
	margin-bottom: 20px;
}

.report{
	color:red;
	display: flex;
	padding-left: 25px;
}

.input-spn-btn{
	display: flex;
	align-items: center;

}


.class-like{
	color:green;
	display: flex;
	padding-left: 25px;
}

.ares-class textarea{
	width: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.submit-btn{
	padding: 15px 0px;
	width: 18%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #8e3304;
	color: white;
	border-radius: 2px;
	border:none;
}
.review-p{
	font-family: 'Roboto Condensed';
	font-size: 24pt;
}
.feedback{

}

.obrare{
	display: flex;
	padding-top: 50px;
}
.fa-thumbs-o-up{
	display: flex;
}
.typic-thumbs{
	display: flex!important;
	padding-left: 30px;
}
.special-color{
	color:green;
	font-size: 40px;
}
.content-rev{
	align-items: center;
	display: flex;
}
.special-color-2{
	color:red;
	font-size: 40px;
}


.fa-thumbs-up{
	display: flex;
}

.two-reviews-h2{
	color:black;
	font-size: 35pt;
	font-weight: 300;
	font-family: "Roboto Regular";
}
.modal-pe{
	text-align: center;
	font-family: 'Roboto Condensed';
	color:#923403;
}
.modal-title{
	width: 100%;
	text-align: center;
	font-family: 'Roboto Condensed';
	margin-top: 25px;
}
.rec-1  {
	width: 65%;
	height: 65%;
	text-align: center;
	margin: 0 auto;
}

.fa-times-circle{
	color:#a93f02;
	font-size: 50px;
	position: relative;
	left: 40px;
	bottom: 25px;
	opacity: 1;
	box-shadow: none;
}
.modal-dialog{
	max-width: 75%;
}

.modal-body p{
	color:#938e8c;
	font-family: "Roboto Regular";
	padding-left: 50px;
	padding-right: 50px;
	text-align: left;
}
.close:focus, .close:hover{
	opacity: 1!important;
}
.close{
	opacity: 1!important;
}
.modal-content{
	width: 100%;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
.modal-header{
	border-bottom: none;
}
.modal-footer{
	border-top: none;
}
.description-maps{
	font-family: "Roboto Regular";
	padding-bottom: 40px;
	font-size: 20pt;
}
.description-maps-one{
	font-family: "Roboto Regular";
	font-size: 20pt;
	padding-bottom: 50px;
}
/* header */
header{
	background: linear-gradient(to top, #792c08, #a43a00);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
	padding: 10px 100px 15px;
}

header .right .dropdown, 
header .right .dropdown button{
	background: transparent !important;
	font-size: 8px;
}

header .right .dropdown .dropdown-menu{
	width: auto;
	height: auto;
	background: linear-gradient(to top, #792c08, #a43a00);
	color: #fff !important;
	font-size: 18px;
}

header .right .dropdown .dropdown-menu *{
	color: #fff !important;
	font-size: 18px;
}

.search_svg{
	margin-right: 15px;
}

.header img{
	height: 100%;
	width: auto;
}

.left{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.eye_litle_img{
	margin-left: 15px;
}

.prise_svg{
	top: 0 !important;
}

.hall_svg{
	height: 34px !important;
	top: 0 !important;
	margin-right: -5px;
} 

header h3{
	color: #fff;
	font-size: 20px;
	display: inline-block;
	margin-bottom: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
}

.header_delimiter{
	padding-right: 15px;
	color: #ff7000;
	font-size: 30px;
}

.svg_mini{
	height: 30px;
	width: auto;
	color: #fff;
	font-size: 28px;
	top: 2px;
	position: relative;
}

.marker_sity{
	margin-right: 10px;
}

.adress_svg{
	height: 50px;
}

.left-padding{
	padding-left: 430px;
}

.span-left{
	display: flex;
}
.block-items{
	display: flex;
}
header select{
	font-size: 20px;
}

.transparent_select{
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
}

.select_sity{
	width: auto;
}

.select_personal{
	width: 20px;
}

.transparent_select option{
	background: transparent !important;
}

.personal_area{
	padding-left: 25px;
}

.auto_link{
	display: flex;
    align-items: center;
}
/* header end */



/*shares*/

.discription-always{
	font-size: 24pt;
	background: white;
	font-family: "Roboto Regular";
}

.h2-shares{
	padding-left: 430px;
	padding-top: 40px;
	padding-bottom: 30px;
	font-family: 'Roboto Condensed';
}



/* shares*/
/* title_info */
.title_info{
	background: #564a46;
	padding: 10px 100px 10px;
	color: #fff;
	text-transform: uppercase;
}

.title_info a{
	color: #fff;
}

h1{
	font-size: 30px;
	font-family: "Roboto Regular";
	letter-spacing: 5px;
	font-weight: 300;
	margin-bottom: 0;
	display: inline-block;
}

.img_eye{
	height: 27px;
	font-size: 30px;
}

.svg_eye_info{
	height: 50px;
	position: relative;
    margin-top: -25px;
}

.text_eye{
	color: #ff7000;
    font-size: 25px;
    position: relative;
    margin-left: -48px;
    width: 45px;
    margin-top: -20px;
    text-align: center;
}
/* title_info end */

/* main_info */
.main_info{
	background: #f6f6f6;
}

.div_menu{
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.menu_panel{
	padding: 50px 0 310px 100px;
	background: #fff;
	box-shadow: 0 0 15px 0 rgba( 0, 0, 0, 0.15);
	width: calc(100% - 70px);
}

.menu_links li{
	list-style-type: none;
	color: #272727;
	font-size: 22px;
	padding-bottom: 35px;
	font-weight: 400;
	letter-spacing: 1px;
}

.main_bg{
	padding: 10px 100px 35px 30px;
}

.main_info .main_bg{
	width: 100%;
	margin-left: -30px;
}

.title_info_mobile{
	display: none;
}

.menu_mini_title{
	color: #fff;
	font-size: 20px;
	background: #564a46;
	padding: 10px 0 10px 20px;
	font-weight: 400;
	/*font-family: 'MyriadPro-Regular' !important;*/
}

.menu_mini_title h3{
	padding: 0;
	margin: 0;
}

.menu_mini_title h3:hover{
	color: #fff !important;
}

.menu_mini_title a{
	color: #fff;
}

.menu_mini_title h3:hover{
	color: #fff;
}

.menu_mini_title a:hover{
	color: #ff7000;
}

.main_content_item{
	margin-top: 15px;
	padding: 20px 20px 15px 25px;
	border-top: 12px solid #564a46;
	background: #fff;
}

.main_content_item > .row{
	margin: 0 !important;
}

.main_left, .main_right{
	padding: 0;
}

.special-fat{
	justify-content: center!important;
}

.special-fat{
	align-items: center;
}
.halls_links{
	padding: 30px 0 0;
}

.main_left img{
	width: 100%;
	height: auto;
	border: 1px solid #b9b5b4;
}

.img_main_info{
	color: #a29692;
	font-size: 22px;
	padding-right: 0;
}

.img_main_info img{
	height: 25px;
	width: auto;
	border: none;
}

.main_links_item{
	padding: 5px 10px 5px 15px;
	background: #eeeeee;
	border: 1px solid #dadada;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.main_links_item *{
	display: inline-block;
}

.main_links_color{
	color: #ff7000;
	border-bottom: 1px dashed #ff7000;
	font-size: 22px;
}

.main_links_info{
	font-size: 18px;
	color: #858383;
}

.radio input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;
}
.radio__text {
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
}
.radio__text:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
}
.radio__text:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #9FD468;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: .2s;
}
.radio input:checked + .radio__text:after {
	opacity: 1;
}
.radio input:focus + .radio__text:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.7);
}











.main_right{
	padding: 5px 0 0 55px;
}

.main_row{
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0 !important;
	border-bottom: 1px solid #e6e6e6;
	letter-spacing: 1px;
}

.main_row div{
	padding: 0;
}

.main_row_img{
	height: 56px;
	width: auto;
	font-size: 24px;
	position: relative;
	top: 10px;
	color: #564a46;
}

.i_dollar{
	font-size: 24px;
	top: 15px;
}

.svg_dollar{
	top: 0;
	font-size: 24px;
}

.svg_number_places_for_sleep{
	height: 45px;
}

.main_row_text{
	color: #564a46;
	font-size: 24px;
}

.telefon_panel{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	background: #ff7000;
	padding: 10px 0 10px 5px !important;
	margin-left: 30px;
	margin-bottom: 5px;
	width: 355px;
	margin-top: 10px;
}

.telefon_panel_button{
	width: 355px;
	text-align: center;
	background: linear-gradient(to top, #792c08, #a43a00);
	font-size: 23px;
	margin-left: 30px;
	border-radius: 10px;
	padding: 15px 0 !important;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 15px;
}

.telefon_panel span{
	color: #fff;
	font-size: 28px;
	font-weight: 500;
	width: 100%;
}

.telefon_panel_button a{
	color: #fff;
	font-size: 28px;
	font-weight: 500;
	width: 100%;
	font-size: 24px;
}

.telefon_panel a{
	color: #fff;
}

.main_title{
	color: #a29692;
	font-size: 22px;
	width: 105px;
	display: inline-block;
	padding-left: 5px;

}

.main_title_info{
	color: #564a46;
	font-size: 22px;
}

.add_padding{
	margin-bottom: 10px;
}

.main_row_text_2{
	margin-bottom: 10px;
	margin-top: 10px;
}

.add_img_site a{
	display: inline-block;
}

.img_sajt{
	height: 20px;
	position: relative;
	top: -3px;
}

.img_girl{
	height: 30px;
}

.center{
	text-align: center;
}

.big_title {
	width: auto;
}

.a_line{
	text-decoration: underline !important;
	color: #1f7ff2;
}

header .row{
	margin-left: 0;
	margin-right: 0;
}

.title_action{
	color: #ff7000;
	border-bottom: 1px dashed #ff7000;
}

.title_action_border{
	background: #eeeeee;
	border: 1px solid #dadada;
	padding: 5px 10px !important;
	display: inline-block;
}

.grey_color{
 color: #858383;
}

.main_categories{
	background: #fff;
	margin-top: 10px;
	padding: 35px;

}

.margin-r-100{
	margin-right: 100px;
}

.main_categories_img{
	height: 45px;
	margin-right: 10px;
}

.main_categories_item{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
    align-items: flex-start;
}

.main_categories_item a{
	background: #f6f6f6;
    padding: 2px 20px;
    color: #564a46;
    margin-right: 10px;
    border: 1px solid #dadada;
    font-size: 22px;
}

.main_categories_title{
	color: #a29692;
	font-size: 22px;
	margin-right: 20px;
	position: relative;
    top: 5px;
}

.main_galery{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px 0 10px 0;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}

.main_galery img{
	width: 100%;
    height: 340px;
	border: 1px solid #dadada;
}

.main_galery_item{
	margin-bottom: 20px;
}

.i_marker{
	top: 15px;
}

.i_koordinate{
	color: #1f7ff2;
	top: 0;
	height: auto;
}

.main_right i:hover{
	color: #564a46;
}

.row_menu_mobile{
	display: none;

}

.row_menu_mobile .auto_link{
	display: inline-block;
}
/* main_info end */

/* about_room */
.about_room{
	background: #f6f6f6;
	padding: 45px 100px 65px 0;
}

.div_main_categories{
	white-space: nowrap;
}

.main_categories_item a {
    display: inline-block;
    margin-bottom: 5px;
}

.fluid_dg_target, .fluid_dg_overlayer{
	height: 110%;
}

.fluid_dg_bar{
	height: 10px !important;
	top: 540px !important;
}

.main_galery{
	display: block;
}

.test_plagin .main_galery{
	display: none;
}
/* about_room end */

/* recomented*/

.recommended{
	background: #edeceb;
}
.rec-h2{
	padding-top: 35px;
	color:#923403;
	font-family: "Roboto Regular";
	text-align: center;
	margin-bottom: 50px;
}


.img-item{
	border: 1px solid grey;
	width: 100%;
	height: 225px;
	border-bottom-color: #f97500;
	border-bottom-width: 5px; /* Толщина линии внизу */
}

.img-item:hover{
	border-bottom-color: #923403;
	cursor: pointer;
}
.recommended-item-price{
	font-family: 'Roboto-Medium';
	font-size: 24px;
	font-weight: 500;
	color:#ff7000;
	padding-bottom: 50px;
}

.recommended-item-price:hover{
	color:#a0593e;
	font-weight: bold;
	cursor: pointer;
}

.recommended-item-title{
	font-size: 22px;
	margin-bottom: 0px;
	font-family: 'Roboto-Medium';
	font-weight: 600;
	color:#564a46;
	padding-top: 5px;
}



/* recomented*/

/* review*/

.reviews{
	background: #f6f6f6;

}
.more-news{
	font-family: 'Roboto Condensed';
	border-color:#8e3304;
}
.recover-ser{
	display: none;
}

.speicl-marg{
	padding-top: 25px;
	margin-bottom: 0;
	padding-bottom: 100px;
	border-bottom: thick solid #923403;
	border-bottom-width: 6px;
}
/* review*/
/* analitics*/

.analytics{
	background: #edeceb;
}
.lc-block{

}
.data-p{
	color:#ff7000;
	padding-left: 25px;
}

.block-data {
	margin-top: 25px;
	margin-bottom: 50px;
	display: flex;
	font-size: 24px;
	font-family: "Roboto Regular";
}

.special-info{
	margin-bottom: 40px;
}
.info-p{
	display: flex;
}

.info-p-2{
	display: flex;
	font-family: "Roboto Regular";
	font-size: 24px;

}

.lc{
	font-family: 'Roboto-Medium';
	font-size: 24px;
	background: #993602;
	color:white;
	padding: 20px 30px;
	border-radius: 8px;
}
.info-p{
	font-size: 24px;
	font-family: "RobotoRegular";
}

.btn-back{
	padding: 5px 30px;
	font-family: 'Roboto-Medium';
	font-size: 24px;
	background: #564a46;
	color:white;
	border-radius: 8px;
}

.data-new{
	padding-left: 100px;
}
/* analitics*/


/*news*/
.news-h2{
	color:#923403;
	font-family: 'Roboto Condensed';
	font-size: 40pt;
	padding-top: 50px;
	padding-bottom: 40px;
	font-weight: normal;
}

.block-news-item{
	padding-right: 15px;
	padding-left: 15px;
}

.more-news{
	padding: 15px 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background:#8e3304;
	color:white;
}

.items{
	padding-bottom: 50px;
}
.block-flex{
	display: flex;
	justify-content: space-evenly;
}
.date-under-news{
	color:#923403;
	font-size: 16pt;
	padding-left: 15px;
	font-family: "RobotoRegular";
}
.news-item img{
	width: 100%;
	height: 100%;
}
.look-more-news{
	color:#ff7000;
	font-family: 'Roboto Condensed';
	font-size: 22pt;
	letter-spacing: 0.5px;
	padding-top: 50px;
	text-align: center;
	align-items: center;
	border-bottom-style:dashed;
	display: inline-block;
}

.everything-news{
	text-align: center;
}
 .fa-angle-double-right{
	padding-left: 15px;
}

.item-inside{
	color:#dedbda;

}
.padding-spe{
	padding-bottom: 100px;
}
.text-date-news{
	font-family: 'Roboto-Medium';
	font-size: 16pt;
	color:#564a46;
	margin-bottom: 0;
}
.news-item{
	background: white;
}

.news{
	background: #f6f6f6;
}
/* news*/


/* family banyaaa */


.money-700{
	color:#913404;
}
.h2-family-fon{
	background: linear-gradient(to top, #792c08, #a43a00);
	color: white;
	font-size: 24pt;
	width: 100%;
	display: flex;
	height: 60px;
	font-family: 'Roboto Condensed';
	justify-content: space-between;
}
.bloc-gre-2{
	padding-top: 25px;
}

.service-p{
	font-weight: 300;
	padding-left: 150px;
}

.cost-p{
	padding-right: 150px;
}
.flex-item-number2{
	width: 50%;
	text-align: right;
}
.flex-item{
	width: 50%;
	text-align: left;
}

.h2-family-fon h2{
	color: white!important;
	font-family: 'Roboto Condensed';
	font-weight: 300;
	font-size: 26pt;
}


.wrapper-family{
	background: white;
}


.h3-div{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #564a46;
}
.about-under{
	background: white;
	text-align: center;
	width: 100%;
	height: 100%;
}
.radio-inp{
	display: flex;
}

.aunder-p-1{
	font-size: 22pt;
	font-family: 'Roboto Condensed';
	padding: 50px 50px 0 50px;
	margin: 0;

}
.aunder-p-2{
	padding: 0 50px 50px 50px;
	margin: 0;
	font-family: 'Roboto Condensed';
	font-size: 22pt;
}
.devine{
	padding: 50px;
}
.sunrey{
	display: flex;
	border-bottom-color: #e6e6e6;
	border-bottom-width: 1.5px;
	border-bottom-style: solid;
}
.sunrey-2{
	border-bottom-color: #e6e6e6;
	border-bottom-width: 1.5px;
	padding-top: 15px;
	border-bottom-style: solid;
}
.flex-item-number2{
	margin-bottom: 0;
	padding-bottom: 0;
}
.flex-item{
	padding-bottom: 0;
	margin-bottom: 0;
}
.betWine-under{
	background: #edeceb;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 24pt;
	font-family: 'Roboto-Medium';
	color:#564a46;
	padding-left: 150px;
	font-weight: normal;
}
.hr-style{
	background: grey;
	width: 100%;
}

.btn-relocate{
	background: #1fb66d;
	color: white;
	width: 100px;
	height: 30px;
	align-items: center;
	display: flex;
	font-size: 21px;
	justify-content: center;

}

.one-level{
	display: flex;
	justify-content: space-evenly;
	margin-top: 25px;
}
.btn-secondary{
	background: #ff7000!important;
	border: none!important;
	border-color:#ff7000!important;
	box-shadow: none!important;
}
.dropdown-p{
	font-size: 30px;
	margin-bottom: 0;
}
.dropdown-toggle::after{
	display: none;
}
.btn-secondary:hover{
	background: #ff7000!important;
	border: none!important;
	border-color:#ff7000!important;
	box-shadow: none!important;

}
.btn-relocate-2{
	background: #f63f3f;
	color: white;
	width: 100px;
	height: 30px;
	align-items: center;
	display: flex;
	justify-content: center;
	font-size: 21px;


}
.dropdown-menu{
	background: #f6f6f6;
	width: 400px;
	height: 200px;
}
.special-drop{
	padding-top: 50px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-color: blue;
}
.sunrey-2{
	display: flex;
}
.devine{
	background: white;
	font-family: 'Roboto Condensed';
	font-size: 24pt;
	width: 100%;
	height: 100%;
	padding: 50px 50px 50px 150px;
}


.radio-all{
	padding: 50px;
	color: #564a46;
	font-family: 'Roboto Condensed';
	font-size: 24pt;
}
.about-under{
	font-family: 'Roboto Condensed';
}
.h2-price-qun{
	padding-top: 60px;
	padding-bottom: 60px;
	font-weight: 400;
}
/* family banyaaa */

/* footer */
.footer-top{
	padding-top: 60px;
	color: #ffffff;
	background-color: #564a46;
	display: flex;
	align-items: center;
}

.footer-content{
	padding: 30px 0 60px 0;
}

.wrapper-footer-callback{
	margin-bottom: 40px;
}

.callback{
	display: inline-block;
	padding: 15px;
	color: #ffffff;
	font-size: 19px;
	border-radius: 5px;
	text-decoration: none;
	background: rgba(255,145,0,1);
	background: -moz-linear-gradient(top, rgba(255,145,0,1) 0%, rgba(255,108,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,145,0,1)), color-stop(100%, rgba(255,108,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,145,0,1) 0%, rgba(255,108,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,145,0,1) 0%, rgba(255,108,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,145,0,1) 0%, rgba(255,108,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,145,0,1) 0%, rgba(255,108,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9100', endColorstr='#ff6c00', GradientType=0 );
}

.callback:hover{
	color: #ffffff;
}

.callback i{
	color: #ffffff;
	transform: rotate(320deg);
}

.footer-wrapper-languages{
	display: flex;
	flex-direction: row;
	height:30px;
	font-size: 20px;
	margin-bottom: 20px;
}

.footer-languages-text{
	margin-left: 25px;
	margin-right: 15px;
}



.footer-languages-button{
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	width:60px;
	height:30px;
	border-radius: 3px;
}

.footer-languages-button.active{
	background: rgba(255,145,0,1);
	background: -moz-linear-gradient(top, rgba(255,145,0,1) 0%, rgba(255,108,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,145,0,1)), color-stop(100%, rgba(255,108,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,145,0,1) 0%, rgba(255,108,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,145,0,1) 0%, rgba(255,108,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,145,0,1) 0%, rgba(255,108,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,145,0,1) 0%, rgba(255,108,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9100', endColorstr='#ff6c00', GradientType=0 );
}

.footer-languages-button a{
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
}

.footer-service{
	font-size: 20px;
}

.footer-service a{
	color: #ffffff;
}

.footer-wrapper-social{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.flex-item::before{
	content:'';
	border: none; /* Убираем границу */
	background-color: gainsboro; /* Цвет линии */
	color: red; /* Цвет линии для IE6-7 */
	height: 2px; /* Толщина линии */
}
.footer-wrapper-social p{
	margin-right: 10px;
}

.footer-wrapper-headings{
	min-height: 40px;
	margin-bottom: 35px;
}

.footer-heading{
	font-size: 24px;
	margin-bottom: 8px;
}

.footer-wrapper-headings hr{
	width:48px;
	height:3px;
	text-align: left;
	margin: 0;
	background-color: rgba(255,145,0,1);
}

.footer-bottom{
	height: auto;
	background: rgba(164,58,0,1);
	background: -moz-linear-gradient(top, rgba(164,58,0,1) 0%, rgba(121,44,8,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(164,58,0,1)), color-stop(100%, rgba(121,44,8,1)));
	background: -webkit-linear-gradient(top, rgba(164,58,0,1) 0%, rgba(121,44,8,1) 100%);
	background: -o-linear-gradient(top, rgba(164,58,0,1) 0%, rgba(121,44,8,1) 100%);
	background: -ms-linear-gradient(top, rgba(164,58,0,1) 0%, rgba(121,44,8,1) 100%);
	background: linear-gradient(to bottom, rgba(164,58,0,1) 0%, rgba(121,44,8,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a43a00', endColorstr='#792c08', GradientType=0 );
}

.footer-bottom .container{
	height: auto;
}

.copyright{
	color: #ffffff;
	font-size: 16px;
	display: flex;
	align-items: center;
	height:100%;
	margin: 0;
}
/* footer end */

/* fix merge */
.call_me_button{
	border: none;
	background: transparent; !important;
	border-color: transparent !important;
	outline: none;
	color: #fff !important;
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
}

header select option{
	background: #913404 !important;
	color: #fff !important;
	font-size: 16px !important;
}

header option:not(:checked) {
    background-color: #913404 !important;
    color:#fff !important;
    font-size: 16px !important;
}


header option:checked{ 
    background-color: #ff7000 !important;
    color:#fff !important;
    font-size: 16px !important;
}

#call_me_modal .modal-dialog{
	max-width: 80%;
	padding-top: 2%;
}

#call_me_modal .modal-content{
	background: url("img/main_info_modal_bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 40px 0 220px 110px;
}

#call_me_modal .modal-header{
	display: block;
	border: none;
}

#call_me_modal .modal-body{
	border: none;
}

#call_me_modal .modal-footer{
	border: none;
}

#call_me_modal h3{
	font-size: 35px;
	color: #564a46;
	text-transform: uppercase;
}

#call_me_modal h5{
	font-size: 20px;
	color: #564a46;
}

.form-check-input {
	position: absolute;
	z-index: 1;
	opacity: 0;
	margin: 10px 0 0 7px;
}
.form-check-input + label {
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
}
.form-check-input + label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
}
.form-check-input + label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;

	border-color:#8c3204;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: .2s;
}
.form-check-input:checked + label:after {
	opacity: 1;
}

#call_me_modal form span{
	color: #746c69;
	font-size: 20px;
}

#call_me_modal form input{
	margin-top: 15px;
	border: 1px solid #e6e6e6;
	width: 400px;
	font-size: 20px;
	color: #564a46;
	height: 44px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.26) inset;
}

#call_me_modal .call_me_done{
	text-align: center;
	background: linear-gradient(to top, #792c08, #a43a00);
	font-size: 23px;
	border-radius: 10px;
	padding: 15px 50px !important;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 15px;
	color: #fff;
	margin-top: 30px;
}

#call_me_modal .modal-header button{
	top: -2%;
    position: absolute;
    left: 98%;
    background: linear-gradient(to top, #792c08, #a43a00);
    border-radius: 50px;
    padding: 12px 20px;
    opacity: 1 !important;
    color: #fff;
    font-size: 30px;
}

#call_me_done .modal-dialog{
	max-width: 80%;
	padding-top: 2%;
}

#call_me_done .modal-content{
	background: url("img/main_info_modal_bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 160px 0 160px 0;
	text-align: center;
}

#call_me_done .modal-header{
	display: block;
	border: none;
}

#call_me_done .modal-body{
	border: none;
}

#call_me_done .modal-footer{
	border: none;
}

#call_me_done h3{
	font-size: 60px;
	color: #564a46;
	text-transform: uppercase;
}

#call_me_done h5{
	font-size: 35px;
	color: #564a46;
	letter-spacing: 0px;
}

#call_me_done form span{
	color: #746c69;
	font-size: 20px;
}

#call_me_done form input{
	margin-top: 15px;
	border: 1px solid #e6e6e6;
	width: 400px;
	font-size: 20px;
	color: #564a46;
	height: 44px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.26) inset; 
}

#call_me_done .call_me_done{
	text-align: center;
	background: linear-gradient(to top, #792c08, #a43a00);
	font-size: 23px;
	border-radius: 10px;
	padding: 15px 50px !important;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 15px;
	color: #fff;
	margin-top: 30px;
}

#call_me_done .modal-header button{
	top: -2%;
    position: absolute;
    left: 98%;
    background: linear-gradient(to top, #792c08, #a43a00);
    border-radius: 50px;
    padding: 12px 20px;
    opacity: 1 !important;
    color: #fff;
    font-size: 30px;
}

#call_me_done .orange{
	color: #ff7000;
}

.main_info *:hover,  .main_info *:active,
.main_info *:visited{
	outline: none !important;
}

.main_info button:hover,  .main_info button:active,
.main_info button:visited{
	outline: none !important;
}

.about_room .main_title_info{
	padding-left: 25px;
}

/*footer .container{
	width: 1260px;
}*/
/* fix merge */

/* slick-slider */
.recommended_slider{
	width: 100%;
}


.recommended_slider .recommended-item-title,
.recommended_slider ..recommended-item-price{
	text-align: left !important;
}

.recommended_slider{
	display: none;
}
/* slick-slider  */