/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {

}

@media only screen and (max-width : 1400px) {

}

@media only screen and (max-width : 1200px) {
	/* header */
	header {
	    padding: 5px 100px 5px;
	}

	.auto_link img{
		height: 35px;
	}

	header h3 {
	    font-size: 18px;
	    padding-right: 15px;
	}

	.header_delimiter {
	    padding-right: 10px;
	    font-size: 26px;
	}

	.svg_mini {
	    height: 30px;
	    font-size: 24px;
	    top: 3px;
	}

	header select {
	    font-size: 18px;
	}

	.svg_eye_info {
	    height: 45px;
	}

	.img_eye {
	    font-size: 30px;
	}

	h1 {
	    font-size: 24px;
	}

	.text_eye {
	    font-size: 20px;
	    margin-left: -46px;
	}
	/* header end */
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/* header */
	header {
	    padding: 5px 50px 5px;
	}

	.title_info {
	    padding: 10px 65px 10px;
	}
	/* header end */
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	/* header */
	header {
	    padding: 5px 50px 5px;
	}

	.row_menu_desktop{
		display: none;
	}

	.row_menu_mobile{
		display: block;
	}

	header h3 {
	    position: relative;
	    top: 3px;
	}
	.select_sity {
	    position: relative;
	    top: 1px;
	}

	.menu-list.hider{
		display: none;
	}

	.mobile-btn i{
		font-size: 32px;
		color: #fff;
	}

	.menu-panel{
		text-align: center;
	}

	.row_menu_mobile > div{
		display: flex;
	    align-items: center;
	    justify-content: space-between;
	}

	.row_menu_mobile .menu-panel{
		justify-content: center;
		/*padding: 15px 0 0;*/
	}

	.menu-panel li{
		list-style: none;
		padding: 5px 0;
		font-size: 18px;
		font-family: 'Roboto Condensed';
	}

	.menu-panel li:first-child{
		list-style: none;
		padding: 15px 0 5px;
		font-size: 18px;
	}

	.menu-panel a{
		color: #fff;
	}

	.menu-list{
		padding: 0;
	}

	.title_info{
		display: none;
	}

	.div_menu_left{
		display: none;
	}

	.div_menu{
		width: 100%;
		margin: 0;
	}

	.main_bg{
		padding: 0 0 35px;
	}

	.main_info .main_bg{
		width: 100%;
   		margin-left: 0;
	}

	.menu_mini_title h3{
		font-size: 16px;
	}

	.title_info_mobile{
		display: block;
	}

	.grey{
		color: #bfb6b2;
	}

	.title_info_mobile{
		margin-top: 10px;
		background: #564a46;
    	padding: 10px 15px 10px 20px;
	}

	.main_title_item h1, .main_title_item h1 a{
		color: #ffffff;
		font-size: 18px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.main_title_eye{
		font-size: 15px;
		margin-top: -5px;
	}

	.main_title_eye i{
		padding-left: 20px;
		font-size: 24px;
		position: relative;
		top: 5px;
	}

	.main_info {
	    background: #f5f5f5;
	}
	/* header end */
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	/* header */
	header {
	    padding: 10px 0;
	}

	header h3 {
	    padding-right: 0px;
	    padding-left: 0px;
	}

	.header_delimiter {
	    padding-right: 0px;
	}

	.marker_sity {
	    margin-right: 0px;
	}
	/* header end */
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.header_delimiter{
		display: none;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}