/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1800px) {
	/* header */
	header {
	    padding: 10px 70px 15px;
	}

	.hall_svg {
		height: 30px !important;
	}

	.img_main_info span{
		font-size: 18px;
	}

	.title_info {
	    padding: 10px 100px 10px;
	}

	.menu_panel {
		padding: 50px 0 310px 100px;
	}

	.main_right {
	    padding: 5px 0 0 30px;
	}

	.main_content_item {
	    padding: 20px 15px 15px 20px;
	}

	.main_bg {
	    padding: 10px 70px 35px 30px;
	}

	.img_main_info {
	    text-align: center;
	}

	.main_links_item {
	    padding: 5px 10px 5px 10px;
	}
	/* header end */
}

@media only screen and (max-width : 1600px) {
	/* header */

	.bloc-gre-2 {
		padding-left: 20px!important;
	}



	.shares, .news{
		padding-left: 20px;
	}

	.block-pt {
		padding: 5px;
	}

	.time-name:not(.display-tek) {
		font-size: 20px;
	}

	.img_main_info {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
	}

	.discription-always{
		font-size: 18pt;
	}
	.cost-p {
		padding-right: 75px;
	}
	.time-name {
		font-size: 14pt;
	}
	.main_links_color{
		border: none;
	}

	.about_room .main_title_info{
		padding-left: 40px;
	}

	.text-name{
		font-size: 32px;
	}
	.time-name{
		font-size: 14pt;
	}

	.menu_links li {
	    font-size: 18px;
	    padding-bottom: 25px;
	}

	h1 {
	    font-size: 26px;
	}

	.menu_mini_title a, .menu_mini_title h3{
		font-size: 24px;
	}

	.text_eye {
	    font-size: 23px;
	}

	.i_dollar{
		font-size: 20px;
	}

	.main_row_text {
	    font-size: 20px;
	}

	.telefon_panel span {
	    font-size: 24px;

	}

	.telefon_panel_button{
		font-size: 22px;
	}

	.main_title {
		font-size: 20px;
		width: 30%;
		display: inline-block;
		padding-left: 10px;
	}

	.main_title.big_title{
	    padding-left: 10px;
	}

	.main_title_info {
		font-size: 20px;
		width: 65%;
		display: inline-block;
		padding-left: 10px;
	}

	.main_links_color {
	    border-bottom: 1px dashed #ff7000;
	    font-size: 20px;
	}

	.title_action{
		width: 100%;
		text-align: center;
		padding: 0;
	}

	.main_links_info {
	    font-size: 16px;
	}

	.menu_panel {
		padding: 50px 0 310px 100px;
	}

	.i_dollar {
	    top: 18px;
	}

	.title_action_border{
		width: 72%;
	}
	/* header end */
}

@media only screen and (max-width : 1500px) {
	.main_row_text {
	    font-size: 18px;
	    padding-left: 5px !important;
	}
}



@media only screen and (max-width : 1400px) {
	.recommended-item-title{
		font-size: 21px;
	}



	header {
		padding: 10px 20px 15px;
	}

	.title_info {
		padding: 10px 70px 10px 50px;
	}

	.menu_panel {
		padding: 35px 0 150px 50px;
	}

	.menu_links li {
	    padding-bottom: 20px;
	}

	.img_main_info {
	    font-size: 20px;
	}

	.main_links_color {
	    border-bottom: none;
	}

	.main_links_info {
	    text-align: center;
	}

	.telefon_panel {
	    width: 300px;
	}

	.telefon_panel_button {
    	width: 300px;
    	font-size: 20px;
	}

	.main_galery img{
	    height: 250px;
	}

	.header_slider{
		height: 500px;
		overflow: hidden;
	}

	.main_slider{
		height: 500px;
		overflow: hidden;
	}

	.header_slider .fluid_dg_target, .fluid_dg_overlayer {
	    height: 100%;
	}

	.main_row_text {
	    font-size: 16px;
	}
}


@media only screen and (max-width: 1445px){
	.time-name {
		font-size: 15pt;
	}
}
@media only screen and (max-width : 1200px) {
	/* fluid_slider */
	.prise_svg{
		height: 50px !important;
		left: 0;
	}

	.main_info .main_bg {
		margin-left: 0px;
	}

	.maps {
		padding-left: 0;
		padding-right: 0;
	}

	.fluid_dg_pag_ul{
		top: 50px;
    	position: relative;
    	text-align: center !important;
	}

	.fluid_dg_next {
	    right: 37%;
	}

	.fluid_dg_next > span {
	    background: url(img/new_slider_right.png) no-repeat;
	    background-position: inherit !important;
	    background-size: contain;
	    height: 30px;
	    width: 15px;
	    margin-top: 10px;
	}

	.fluid_dg_next:hover > span{
	    background: url(img/new_slider_right_hover.png) no-repeat;
	    background-position: inherit !important;
	    background-size: contain;
	    height: 30px;
	    width: 15px;
	    margin-top: 10px;
	}

	.fluid_dg_prev {
	    left: 40% !important;
	}

	.fluid_dg_prev > span {
	    background: url(img/new_slider_left.png) no-repeat;
	    background-position: inherit !important;
	    background-size: contain;
	    height: 30px;
	    width: 15px;
	    margin-top: 10px;
	}

	.fluid_dg_prev:hover > span{
	    background: url(img/new_slider_left_hover.png) no-repeat;
	    background-position: inherit !important;
	    background-size: contain;
	    height: 30px;
	    width: 15px;
	    margin-top: 10px;
	}

	.fluid_dg_wrap .fluid_dg_pag .fluid_dg_pag_ul li {
	    background: transparent;
	    border: 1px solid #bebab9;
	}

	.fluid_dg_wrap .fluid_dg_pag .fluid_dg_pag_ul li.fluid_dgcurrent {
	    background: transparent;
	    border: 1px solid #ff7000;
	}

	.fluid_dg_wrap .fluid_dg_pag .fluid_dg_pag_ul li span{
	    background: transparent !important;
	}

	.fluid_dg_wrap .fluid_dg_pag .fluid_dg_pag_ul li.fluid_dgcurrent span{
	    background: #ff7000 !important;
	    top: 3px;
    	left: 3px;
	} 

	.fluid_dg_prev, .fluid_dg_next, 
	.fluid_dg_commands {
	    top: auto;
	    bottom: -95px;
	    opacity: 1 !important;
	    width: 40px;
	}

	.fluid_dg_prevThumbs, .fluid_dg_nextThumbs, 
	.fluid_dg_prev, .fluid_dg_next, .fluid_dg_commands, 
	.fluid_dg_thumbs_cont {
	    background: transparent !important;
	}

	.news {
		padding-left: 0!important;
	}

	.rec-h2 {
		padding-left: 0;
	}

	.recommended {
		padding-left: 0;
	}

	.shares, .news {
		padding-left: 0;
	}

	.left-padding {
		padding-left: 15px!important;
		padding-right: 0!important;
	}

	.padding-regt {
		padding-right: 15px!important;
	}

	.div_menu-my{
		width: 100%;
		margin: 0;
	}
	.adress_svg {
	    height: 50px !important;
	}

	#call_me_modal .modal-content{
		padding: 40px 100px 120px 110px;
	}

	.margin-r-100{
		margin-right: 0;
	}

	.opisanie{
		padding: 0 0;
	}



	.submit-btn{
		width: 25%;
	}
	#back_to_fluid_dg {
	    background: rgba(2,2,2,.5);
	    clear: both; 
	    display: block; 
	    height: 20px; 
	    line-height: 20px;
	    padding: 20px; 
	    position: relative; 
	    z-index: 1;
	}
	.fluid_container {
	    bottom: 0; 
	    height: 100%; 
	    left: 0; 
	    /*position: fixed; */
	    position: relative;
	    right: 0; 
	    top: 0; 
	    z-index: 0;
	}
	#fluid_dg_wrap_4, #fluid_dg_wrap_3, 
	#fluid_dg_wrap_2 {
	    bottom: 0; 
	    left: 0;
	    margin-bottom: 0!important;
	    position: absolute; 
	    /*position: relative;*/
	    right: 0; 
	    top: 0;
	}
	.fluid_dg_bar {
	    z-index: 2;
	}

	.fluid_dg_thumbs {
	    margin-top: 50px;
	    position: relative; 
	    z-index: 1;
	}
	.fluid_dg_thumbs_cont {
	    border-radius: 0;
	    -moz-border-radius: 0;
	    -webkit-border-radius: 0;
	}
	.fluid_dg_overlayer {
	    opacity: .1;
	}

	.main_galery img{
		width: auto;
	    height: 135px;
		border: 1px solid #dadada;
		float: left;
	}

	.fluid_dg_thumbs_cont ul{
		width: 100%;
		display: flex;
	}

	.fluid_dg_thumbs_cont > div {
	    overflow-x: scroll;
	}
	/* fluid_slider end */

	/* header */
	header {
	    padding: 5px 20px 5px;
	}

	.fluid_dg_commands {
	    top: 45px;
	    bottom: auto;
	    opacity: 1 !important;
	    width: 40px;
	    background: rgba(0, 0, 0, 0.7) !important;
	    border-radius: 40px;
	}

	.fluid_dg_commands > .fluid_dg_play {
	    background: url(img/slider_start.png) no-repeat;
	    background-size: contain !important;
	    background-position: 0 0 !important;
	    height: 32px;
	    width: 32px;
	    left: 4px;
	    top: 4px;
	    position: relative;
	}

	.telefon_panel{
		margin-left: 0;
	}

	.telefon_panel_button{
		margin-left: 0;
	}

	.main_row_text{
		text-align: center;
	}

	.test_plagin{
		height: 500px;
		margin-bottom: 70px;
	}

	.main_galery{
		display: none;
	}

	.test_plagin .main_galery{
		display: block;
	}

	.auto_link img{
		height: 35px;
	}

	header h3 {
	    font-size: 18px;
	    padding-right: 15px;
	}

	.header_delimiter {
	    padding-right: 10px;
	    font-size: 26px;
	}

	.svg_mini {
	    height: 26px;
	    position: relative;
	    font-size: 22px;
	    top: 0px;
	}

	header select {
	    font-size: 18px;
	}

	.svg_eye_info {
	    height: 45px;
	}

	.img_eye {
	    font-size: 30px;
	}

	h1 {
	    font-size: 24px;
	}

	.text_eye {
	    font-size: 20px;
	    margin-left: -46px;
	}

	.row_menu_desktop{
		display: none;
	}

	.menu-list.hider{
		display: none;
	}

	.row_menu_mobile{
		display: block;
	}

	.row_menu_mobile .menu-panel{
		justify-content: center;
		/*padding: 15px 0 0;*/
	}

	.menu-panel li{
		list-style: none;
		padding: 5px 0;
		font-size: 18px;
		font-family: 'Roboto Condensed';
	}

	.menu-panel li:first-child{
		list-style: none;
		padding: 15px 0 5px;
		font-size: 18px;
	}

	.menu-panel a{
		color: #fff;
		font-size: 30px;
	}

	.menu-list{
		padding: 0;
	}

	.row_menu_mobile > div{
		display: flex;
	    align-items: center;
	    justify-content: space-between;
	}

	.mobile-btn i{
		font-size: 32px;
		color: #fff;
	}

	header h3 {
	    position: relative;
	    top: 3px;
	}
	.select_sity {
	    position: relative;
	    top: 1px;
	}

	.menu-panel{
		text-align: center;
	}

	.title_info{
		display: none;
	}

	.div_menu_left{
		display: none;
	}

	.div_menu{
		width: 100%;
		margin: 0;
	}

	.main_bg{
		padding: 0 0 35px;
	}

	.main_info .main_bg{
		width: 100%;
	}

	.menu_mini_title h3{
		font-size: 20px;
	}

	.title_info_mobile{
		display: block;
	}

	.grey{
		color: #bfb6b2;
	}

	.title_info_mobile{
		margin-top: 10px;
		background: #564a46;
    	padding: 10px 30px 10px 30px;
	}

	.main_title_item h1, .main_title_item h1 a{
		color: #ffffff;
		font-size: 18px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.main_title_eye{
		font-size: 15px;
		/*margin-top: -5px;*/
		text-align: right;
	}

	.main_title_eye i{
		padding-left: 20px;
		font-size: 24px;
		position: relative;
		top: 5px;
	}

	.main_info {
	    background: #f5f5f5;
	}

	.menu_mini_title {
	    padding: 10px 0 10px 30px;
	}

	.main_content_item {
	    padding: 20px 25px 15px 25px;
	}

	.main_galery .row{
		width: 100%;
	}

	.main_row_text{
		text-align: left;
	}

	.call_me_modal{
		flex-direction: column;
		align-items: center;
	}

	.title_action_border {
	     width: auto; 
	}

	.main_categories_item {
	    display: flex;
	    justify-content: flex-start;
	    align-items: center;
	}

	.div_main_categories{
		white-space: nowrap;
	}

	.about_room .left-padding{
		padding-left: 0;
	}

	.about_room {
	    background: #f6f6f6;
	    padding: 30px 0 45px 0;
		padding-right: 15px;
	}

	.main_row_text {
	    font-size: 20px;
	    padding-left: 0px !important;
	}
	/* header end */

	/* left-padding */

	.text-name{
		font-size: 28pt;
	}
	.time-name{
		font-size: 12pt;
	}
	.away-p{
		font-size: 18pt;
	}
	.maps-h2{
		font-size: 38pt;
		padding-top: 80px;
	}

	.description-maps-one{
		font-size: 18pt;
	}

	.h2-family-fon h2{
		font-size: 21pt;
	}

	.two-h2{
		margin-top: 20px;
		padding-bottom: 20px;
	}
	.radio-all{
		font-size: 20pt;
	}

	.main_info{
		/*padding-left: 250px;*/
		/*padding-right: 75px;*/
	}

	.h2-family-fon h2{

	}

	.h2-price-qun{
		font-size: 30pt;
	}

	.service-p{
		font-size: 22pt;
	}

	.cost-p{
		font-size: 22pt;
	}
	.betWine-under{
		font-size: 21pt;
	}
	.sunrey{
		font-size: 23pt;
	}
	.h2-shares{
		padding-left: 0;
	}
	/*  left-padding */
}


@media (min-width: 1000px){
	.submit-btn{
		padding-left: 20px;
		padding-right: 20px;
		font-size: 20px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.bloc-gre-2{
		padding-left: 35px;
	}

	.bloc-gre-2 {
		padding-left: 40px!important;
	}

	.time-name:not(.display-tek) {
		font-size: 16px;
	}


	.opisanie{
		margin-top: 50px;
	}

	.fluid_dg_wrap .fluid_dg_pag .fluid_dg_pag_ul{
		text-align: center;
	}

	.fluid_dg_target, .fluid_dg_overlayer{
		height: 100%;
	}

	.submit-btn{
		width: 40%;
	}

	.fluid_dg_thumbs_cont, .fluid_dg_bar{
		display: none !important;
	}

	.test_plagin {
		height: 500px;
		margin-bottom: 0;
	}

	.fluid_dg_wrap img{
		height: 100%!important;
		width: 100%!important;
		margin-left: 0!important;
		margin-right: 0!important;
		margin-top: 0!important;
	}

	.footer-bottom {
	    height: auto;
	    padding-top: 5px;
	}
	/* header */
	header {
	    padding: 5px 50px 5px;
	}

	.fluid_dg_pag_ul {
	    top: 12px;
	}

	.fluid_dg_prev, .fluid_dg_next, .fluid_dg_commands {
	    bottom: -55px;
	}

	.fluid_dg_prev {
	    left: 35% !important;
	}

	.fluid_dg_next {
	    right: 31% !important;
	}

	#call_me_modal .modal-content{
		padding: 40px 50px 120px 110px;
	}

	#call_me_modal .modal-header button {
	    left: 96%;
	}

	.title_info {
	    padding: 10px 65px 10px;
	}

	.h2-shares {
		padding-left:0;!important;
	}
	.padding-regt{
		padding-right: 0;
	}
	.left-padding{
		padding-right: 15px!important;
		padding-left: 15px!important;
	}

	.recommended-item-title{
		font-size: 17px;
	}
	.rec-h2{
		font-size: 38px;
	}

	.description-maps-one{
		font-size: 16pt;
		text-align: left;
	}

	.description-maps{
		font-size: 16pt;
		text-align: left;
	}

	.maps-h2{
		font-size: 34pt;
		width: 100%;
		text-align: center;
	}
	.radio-all{
		font-size: 18pt;
	}

	.aunder-p-1{
		font-size: 20pt;
	}

	.aunder-p-2{
		font-size: 20pt;
	}

	.h3-div h3 {
		font-size: 20pt;
	}
	.devine{
		font-size: 18pt;
	}
	.sunrey{
		font-size:18pt;
	}
	.betWine-under{
		font-size: 18pt;
	}
	.two-reviews-h2{
		font-size: 30pt;
	}
	.cost-p{
		font-weight: 300;
	}
	.obrare{
		justify-content: center;
	}
	.review-p{
		font-size: 22pt;
		display: flex;
		justify-content: center;
	}
	.speicl-marg{
		display: flex;
		justify-content: center;
	}
	.area-class{
		display: flex;
		justify-content: center;
	}
	.input-spn-btn{
		display: flex;
		justify-content: center;
	}

	.block-data{
		display: flex;
		justify-content: center;
	}

	.info-p{
		display: flex;
		justify-content: center;
	}
	.info-p-2{
		display: flex;
		justify-content: center;
	}
	.lc-block{
		display: flex;
		justify-content: center;
		text-decoration: none!important;

	}


	.news-h2{
		font-size: 34pt;
		text-align: center;
	}
	.h2-shares{
		text-align: center;
	}

	.main_info{
		padding-left: 0;
		padding-right: 0;
	}

	.h2-price-qun{
		text-align: center;
	}
	.text-date-news{
		font-size: 14pt;
	}
	.look-more-news{
		font-size: 16pt;
	}
	.text-name{
		font-size: 28pt;
		width: 80%;
	}
	.time-name{

		font-size: 13pt;
	}
	.away-p{
		font-size: 16pt;
	}
	.h2-shares{
		padding-left: 0;
	}
	.text-name{
		font-size: 22pt;
	}
	/* header end */
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.area-class textarea {
		width: 100%;
	}

	.footer-wrapper-headings hr{
		display: none;
	}

	.time-name {
		font-size: 10pt;
	}

	.bloc-gre-2 {
		padding-left: 60px!important;
	}

	#map iframe {
		height: 350px;
	}

	.news {
		padding-left: 0!important;
	}

	.more-news{
		margin-bottom: 50px;
	}

	#link_reviews .row{
		margin-left: 0;
		margin-right: 0;
	}

	.h2-family-fon{
		align-items: center;
	}

	.bloc-gre-2 {
		padding-left: 50px;
	}
	.img-item{
		height: auto;
	}
	.recommended-item-title{
		font-size: 15px;
	}

	.two-reviews-h2 {
	font-size: 22pt;
	}
	.review-p{
		font-size: 20pt;
	}
	.submit-btn{
		width: 50%;
	}
	.bloc-gre-2 {
		padding-left: 50px;
	}
	.lc{
		font-size: 20px;
	}

	.info-p{
		font-size: 21px;
	}
	.info-p-2{
		font-size: 21px;
	}
	.btn-back{
		font-size: 21px;
	}
	.description-maps{
		font-size: 14pt;
	}
	.description-maps-one{
		font-size: 14pt;
	}
	.maps-h2{
		font-size: 30pt;
	}
	.block-news-item{
		font-size: 15px;
	}
	.block-flex{
		display: block;
	}
	.more-news{
		font-size: 14px;
	}
	.news-h2{
		font-size: 30pt;
	}
	.text-name{
		font-size: 20pt;
	}
	.time-name{
		font-size: 10pt;
	}
	.away-p{
		font-size: 14pt;
	}
	.h2-family-fon h2{
		font-size: 18pt;
	}
	.radio-all{
		font-size: 14pt;
	}
	.h3-div h3{
		font-size: 16pt;
	}
	.aunder-p-1{
		font-size: 18pt;
	}
	.aunder-p-2{
		font-size: 18pt;
	}
	.h2-price-qun{
		font-size: 28pt;
	}
	.service-p{
		font-size: 20pt;
	}
	.cost-p {
		font-size: 20pt;
	}
	.sunrey{
		font-size: 16pt;
	}
	.sunrey-2{
		font-size: 16pt;
	}
	.betWine-under{
		font-size: 16pt;
	}
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	/* header */
	header {
	    padding: 5px 20px 5px;
	}

	.fluid_dg_next {
	    right: 28% !important;
	}

	.fluid_dg_prev {
	    left: 32% !important;
	}

	.svg_mini {
	    left: -5px;
	}

	.prise_svg {
	    left: -10px;
	}

	.hall_svg{
		left: 0;
	}

	footer .row{
		text-align: center;
	}

	#ask_time_modal .modal-content {
	    padding: 40px 0 220px 50px;
	}

	#ask_time_modal .modal-dialog {
	    max-width: 90%;
		margin: 0 auto;
	}

	#ask_time_modal .modal-header button {
	    top: -1%;
	    left: 96%;
	}

	.footer-wrapper-languages {
	    display: flex;
	    justify-content: center;
	}

	.footer-wrapper-social {
	    justify-content: center;
	}

	.footer-bottom {
	    height: auto;
	}

	.footer-bottom .container {
	    height: auto;
	}

	#call_me_modal h3 {
	    font-size: 25px;
	}

	.footer-languages-text {
		margin-left: 0;
	}

	#call_me_modal h5 {
	    font-size: 15px;
	    padding-bottom: 15px;
	}

	#call_me_modal form input {
	    width: 100%;
	    font-size: 20px;
	}

	#call_me_modal form span {
	    font-size: 16px;
	}

	#call_me_modal .call_me_done {
	    font-size: 18px;
	    padding: 15px 0 !important;
	    width: 100%;
	}

	#call_me_modal .modal-content {
		background: url(img/main_info_modal_bg_mobile.png);
	    padding: 40px 30px 80px 30px;
	}

	#call_me_modal .modal-header button {
	    top: -2%;
	    left: 96%;
	    padding: 8px 15px;
	    font-size: 28px;
	}

	#call_me_done h3{
		font-size: 30px;
	}

	#call_me_done h5{
		font-size: 20px;
	}

	#call_me_done .modal-header button {
	    top: -2%;
	    left: 96%;
	    padding: 8px 15px;
	    font-size: 28px;
	}

	.div_select_personal{
		display: none;
	}

	.main_categories_item {
	    flex-direction: column;
	    justify-content: flex-start;
    	padding-top: 10px;
    	align-items: flex-start;
	}

	.div_main_categories{
		padding-bottom: 10px;
	}

	.div_categories_item{
		padding-bottom: 10px;
	}

	.main_title_eye i {
	    padding-left: 5px;
	}

	.title_info_mobile {
	    padding: 10px 25px 10px 25px;
	}

	.menu_mini_title {
	    padding: 10px 0 10px 25px;
	}

	.about_room .main_title{
	    font-size: 18px;
	    width: 28%;
	}

	.main_title_info {
	    font-size: 18px;
	    width: 69%;
	}

	.fluid_dg_bar{
		height: 10px !important;
		top: 330px !important;
	}

	.fluid_dg_thumbs{
		margin-top: 39px;
	}
	/* header end */
}

@media only screen and (max-width : 576px) {

	.dropdown-menu.show {
		left: 11px!important;
		width: 100%;
	}

	.main_row div {
		margin-bottom: 10px;
	}

	.time-name {
		font-size: 12px;
	}

	.time-name:not(.display-tek) {
		font-size: 14px;
	}

	.recommended-item-title{
		text-align: center;
	}
	.recommended-item-price{
		text-align: center;
	}
	.more-news{
		margin-top: 20px;
		margin-bottom: 50px;
	}
	.devine{
		padding: 50px 46px 44px 100px;
	}
	.block-flex{
		text-align: center;
	}
	.sunrey{
		font-size: 14pt;
	}
	.sunrey-2{
		font-size: 14pt;
	}
	.review-p{
		font-size: 14pt;
	}
	.submit-btn {
		width: 90%;
	}
	.area-class textarea{
		width: 90%;
	}
	.bloc-gre-2{
		padding-left: 75px!important;
	}
	.new-block-feed {
		justify-content: space-evenly;
		padding-left: 50px;
	}
	.lc{
		font-size: 16px;
	}
	.lc{
		padding: 20px 80px;
	}
	.block-data{
		margin-bottom: 20px;
	}
	.text-date-news {
		font-size: 16pt;
	}
	.enjyr{
		padding-left: 15px!important;
		padding-right: 15x!important;
	}
	.btn-get-back{
		text-align: center;
		padding: 15px 0px 50px 0px;
	}
	.feedback{

		font-size: 14px;
	}
	.bloc-gre-2{
		padding-left: 75px;
	}
	.service-p{
		font-size: 18pt;
		padding-left: 50px;
	}
	.cost-p{
		font-size: 18pt;
		padding-right: 50px;
	}
	.h2-family-fon h2{
		font-size: 16pt;
	}
	.text-name{
		font-size: 16pt;
	}
	.h2-price-qun {
		font-size: 26pt;
	}
	.devine {
		padding: 50px 46px 44px 50px;
	}
	.name{
		padding-left: 0px;
		padding-top: 15px;
	}
	/* header */
	.img_main_info{
		text-align: left;
		padding-bottom: 5px;
	}

	.fluid_dg_next {
	    right: 20% !important;
	}

	.fluid_dg_prev {
	    left: 24% !important;
	}

	.maps-h2{
		font-size: 28pt;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 20px
	}

	.description-maps{
		text-align: left;
	}
	.h2-family-fon h2{
		font-size: 20px;
	}
	.radio-all{
		font-size: 16px;
	}
	.h3-div h3{
		font-size: 16px;
	}

	.aunder-p-1{
		font-size: 18px;
	}

	.aunder-p-2{
		font-size: 18px;
	}

	.main_links_color {
	    border-bottom: 1px dashed #ff7000;
	    font-size: 19px;
		line-height: 20px;
	}

	.main_row .center{
		display: none;
	}

	.main_right {
	    padding: 5px 0 0;
	}

	.main_categories {
	    padding: 30px 20px;
	}

	.main_content_item {
	    padding: 20px 20px 15px 20px;
	}

	.main_categories_item a {
	    padding: 2px 10px;
	    margin-right: 5px;
		margin-bottom: 10px;
	    font-size: 18px;
	}

	.main_categories_title {
	    font-size: 20px;
	}

	.main_row .center {
	    float: left;
	    text-align: left;
	    display: inline-block;
	    width: auto;
	}

	.main_title {
	    padding-left: 0;
	}
	.qunce	{
	padding-left: 0!important;
	padding-right: 0!important;
	}
	.main_row_text {
	    padding-left: 45px !important;
	}

	.telefon_panel span {
	    font-size: 22px;
	}

	.svg_mini {
	    margin-bottom: -55px;
	}

	.hall_svg ,.marker_sity,
	.eye_litle_img {
	    margin-bottom: 0;
	}

	.i_dollar{
		position: relative;
		margin-bottom: -72px;
		display: flex !important;
    	left: 15px;
	}

	.svg_number_places_for_sleep,
	.img_girl{
		margin-bottom: -72px;
	}

	h2 {
	    font-size: 30px;
	    text-align: center;
	}

	/* header */
}

@media (max-width : 480px) {
	.info-p p:first-child, .info-p-2 p:first-child{
		width:auto;
	}
	.main_info-480{
		padding-left: 0!important;
		padding-right: 0!important;
	}

	.hall-name{
		background: #554a46;
		color: white;
		font-size: 22px;
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: left;
		padding-left: 15px;
		margin-bottom: 0;
		margin-top: 70px;
	}

	#ask_time_modal .modal-title {
		 text-align: left !important;
	}

	.block-data {
		margin-top: 30px;
	}

	.feedback p{
		margin-bottom: 0;
	}

	.name {
		padding-left: 0px;
		padding-top: 5px;
	}

	.bloc-gre-2 {
		padding-left: 65px!important;
	}

	.new-block-feed {
		padding-left: 30px;
	}

	.feedback .name {
		font-size: 20px;
	}

	.obrare {
		padding-left: 0!important;
	}

	.typic-thumbs {
		margin-top: 0px;
	}

	.content-rev{
		margin-bottom: 5px;
		font-size: 24px;
	}

	#map iframe {
		height: 300px;
	}

	.maps-ber {
		padding-right: 0!important;
		padding-left: 0!important;
	}

	.recommended-item-price {
		font-size: 16px;
	}

	.news .col-md-4{
		padding: 0;
	}

	.shares .enjyr{
		padding: 0!important;
	}

	.description-maps-one {
		padding-bottom: 40px;
	}

	.h2-price-qun {
		padding-bottom: 20px;
	}

	.points-banya {
		border: none;
	}

	.h2-price-qun {
		padding-top: 0;
	}

	.description-maps-one {
		line-height: 22px;
	}

	.test_plagin {
		margin-bottom: 0!important;
	}

	.dropdown-menu.show {
		left: 43px!important;
		width: 100%;
	}

	.menu-panel a {
		font-size: 24px;
	}

	.eye_litle_img {
		margin-right: 5px;
	}

	.main_content_item {
		margin-top: 0;
		padding-top: 0;
		border: none;
	}

	.main_content_item {
		padding: 0 0 15px 0;
	}

	.about_room .main_row {
		padding-left: 15px;
		padding-right: 15px;
	}

	.about_room .main_row_text {
		flex-direction: row!important;
	}

	.about_room .main_row_text_iniq{
		flex-direction: column!important;
		align-items: flex-start!important;
		padding-left: 40px!important;
	}

	.svg_number_places_for_sleep{
		margin-left: -8px;
	}

	.main_content_item .main_title, .main_content_item .main_title_info {
		padding-left: 10px!important;
	}

	.main_row_text{
		padding-top: 5px!important;
		padding-bottom: 10px!important;
	}

	.call_me_modal {
		padding-left: 30px;
		padding-right: 30px;
	}

	.telefon_panel_button {
		padding: 5px 0px !important;
	}

	.prise_svg{
		position: absolute;
	}

	.telefon_panel_button a {
		font-size: 22px;
	}

	.main_row_text {
		padding-left: 35px !important;
		line-height: 22px;
	}

	.main_left{
		order: 2;
	}

	.main_right{
		order: 1;
	}

	.main_title_eye {
		font-size: 16px;
		display: flex;
		align-items: center;
	}

	.title_info_mobile {
		padding: 10px 25px 5px 15px;
	}

	.text_eye_mobile{
		font-size: 20px;
		margin-top: 0px;
		display: inline-block;
	}

	.svg_mini {
		height: 20px;
	}

	.fluid_dg_wrap img{
		height: 300px!important;
		width: 100%!important;
		margin-left: 0!important;
		margin-right: 0!important;
	}

	.row_menu_mobile > div{
		justify-content: flex-start;
	}

	.header_delimiter {
		padding-right: 10px!important;
		padding-left: 15px;
	}

	.mobile-btn{
		margin-top: 5px;
	}

	.row_menu_mobile .auto_link{
		margin-left: 10px;
	}

	.h2-family-fon{
		height: auto;
	}
	.btn-get-back-none{
		display: none;
	}
	.norml-bn{
		border: none;
		color:#AFADAE;
		background:   #EEEEEE;
	}
	.show-more{
		PADDING: 15px 20px;
		border: 1.5px solid #DFDFDF;
		color:#A2A0A1;
		font-weight: 500;
		border-radius: 5px;

	}
	.btn-get-back{
		text-align: left!important;
		padding: 0 0 0 0!important;
		margin: 20px 0 50px 0;
	}
	.show-more {
		PADDING: 8px 10px;
		border-radius: 0 !important;
	}

	.description-maps {
		padding-bottom: 0px;
	}

	.maps-h2 {
		padding-left: 0!important;
	}

	.description-maps,.description-maps-one {
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.show-more i{
		color:#A2A0A1;
		margin-left: 10px;
	}
	.more-news{
		font-size: 21px;
	}
	.news-h2{
		padding-left: 0;
	}

	.more-news {
		margin-top: 0;
		margin-bottom: 15px;
	}
	.padding-spe {
		padding-bottom: 30px;
	}
	.look-more-news {
		padding-top: 10px;
	}
	.devine{
		padding:20px!important;
		color:#5E544F;
	}
	.betWine-under{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.service-p{
		padding-left: 20px;
	}
	.description-maps-one{
		padding-left: 20px;
	}

	.betWine-under{
		padding-left: 20px;
	}
	.devine{
		padding-left: 20px;
	}

	.div_menu-my{
		padding: 0;
	}
	.maps-h2{
		text-align: left;
	}
	.opisanie{
		padding: 0 0;
	}
	.wrapper-family{
		display: none;
	}
	.h3-div{
		display: none;
	}
	.about-under{
		display: none;
	}
	.recommended_slider{
		width: 100%;
	}

	.header_slider{
		height: 300px;
	}

	.main_slider{
		height: 300px;
	}
	.block-pt{
		width: 100%;
	}
	.time-name{
		justify-content: right;
	}
	.none-text-2{
		display: block;
	}
	.none-text{
		display: none
	}
	.recommended_slider .draggable{
		height: 300px !important;
	}

	.modal-dialog{
		max-width: 95%;
	}

	.none_item{
		display: none !important;
	}

	.none_item *{
		display: none !important;
	}

	.recommended_slider{
		display: block !important;
	}

	.recommended_slider .recommended-item-title,
	.recommended_slider .recommended-item-price{
		text-align: left !important;
	}

	.recommended_slider .slick-next{
		right: -5px;;
		top: 25%;
		z-index: 2;
		width: 35px;
    	height: 35px;
	}

	.recommended_slider .slick-prev{
		left: -5px;;
		top: 25%;
		z-index: 2;
		width: 35px;
    	height: 35px;
	}

	#ask_time_modal .modal-content {
	    padding: 30px 15px 50px 30px;
	}

	#ask_time_modal .call_me_done {
		width: 100%;
	}

	.main_title_eye {
	    text-align: left;
	}

	.menu_mini_title a, .menu_mini_title h3 {
	    font-size: 18px;
	}

	.menu_mini_title {
		padding: 8px 0 8px 15px;
	}

	#ask_time_modal .modal-header button {
	    top: 0;
	    left: 93%;
	}

	.footer-content {
	    padding: 25px 0 30px 0;
	}


	.ask_time_modal_row div{
		padding: 0 15px 0 0;
	}

	#ask_time_modal h3 {
	    font-size: 28px;
	}

	.footer-wrapper-headings {
		margin-bottom: 0px;
	}

	.empty-head{
		display: none;
	}

	.footer-wrapper-headings hr {
		margin-bottom: 20px;
	}

	#ask_time_modal h5 {
	    font-size: 18px;
	    margin-bottom: 35px;
	    margin-top: 10px;
		text-align: left;
	}

	.ask_time_modal_row{
		padding: 0 15px !important;
	}

	#ask_time_modal .modal-body .date_1 {
	    width: 100%  !important;
	}

	#ask_time_modal .modal-body .date_2 {
	    width: 100%  !important;
	}

	#ask_time_modal .modal-body .date_3 {
	    width: 100%  !important;
	}

	#ask_time_modal .modal-body input {
	    width: 100% !important;
	}

	.call_me_modal .dropdown-p {
	    font-size: 26px;
	}

	.about_room .main_left{
		order: 1;
	}

	.img_girl{
		margin-bottom: -105px;
	}

	.svg_mini {
		margin-bottom: -110px;
		margin-left: 5px;
		height: 30px;
	}

	.hall_svg{

	}

	.adress_svg{
		margin-left: 0;
		margin-bottom: -75px;
	}

	.site-ico{
		margin-bottom: -90px;
	}

	.img-categories{
		height: 30px;
		margin-bottom: -110px;
	}

	.telefon_panel{
		padding-left: 0 !important;
	}

	.telefon_panel button{
		padding: 0 !important;
	}

	.dropdown_hiden{
		display: none;
	}

	.about_room .main_title_info {
	    width: 100%;
	    text-align: left;
	    padding-left: 10px;
	}

	.about_room .main_title {
	    padding-left: 10px;
	}

	.main_content_item .main_title ,
	.main_content_item .main_title_info{
	    padding-left: 0;
	}

	.dropdown_button{
		display: block;
		font-size: 20px !important;
		border-bottom: 2px dashed #fff;
	}

	.fluid_dg_commands {
	    right: 5px;
	    top: 25px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	/* slick-slider */
	.rec-h2 {
	    text-align: left;
		padding-left: 20px;
	}


	.callback {
		width: 100%;
	}

	.footer-logo{
		text-align: left;
	}

	footer .row {
		text-align: left;
	}

	.footer-wrapper-languages {
		justify-content: flex-start;
	}

	.footer-wrapper-social {
		justify-content: flex-start;
	}

	.main_row_text_2 .main_title{
		padding-left: 0!important;
	}
	.about_room .left-padding {
		padding: 0!important;
	}
	/* slick-slider  */
	.block-data{
		margin-bottom: 0;
		font-size: 20px;
	}
	.data-p{
		padding-left: 15px;
	}
	.info-p,.info-p-2 {
		font-size: 18px;
	}
	.submit-btn{
		width: 100%;
		border-radius: 10px;
		font-size: 23px;
		padding: 10px 0px;
	}

	.review-p {
		padding-left: 0!important;
	}

	.input-spn-btn {
		padding-left: 0!important;
	}
	.input-spn-btn{
		padding-left: 20px;
	}
	.review-p{
		justify-content: normal;
		padding-left: 20px;
		font-weight: bold;
	}
	.area-class textarea{
		width: 95%;
	}

	.away-p{
		padding-left: 20px;
	}
	.description-maps{
		padding-left: 20px;
	}
	.obrare {
		justify-content: normal;
		padding-left: 20px;
	}
	.lc{
		width: 95%;
		text-align: center;
		align-items: center;
		font-size: 21px;
		padding: 10px 30px;

	}
	.daa-1{
		padding-left: 75px!important;
		padding-right: 20px;
	}
	.daa-2{
		padding-left: 50px!important;
		padding-right: 20px;
	}
	.daa-3{
		padding-left: 45px!important;
		padding-right: 20px;
	}
	.daa-4{
		padding-left: 45px!important;
		padding-right: 20px;
	}
	.daa-5{
		padding-left: 20px!important;
		padding-right: 20px;
	}
	.daa-6{
		padding-left: 20px!important;
		padding-right: 20px;
	}
	.data-je{
		font-weight: bold;
	}

	.block-gre-1{
		width: 15%;
	}
	.name{
		font-weight: bold;
	}
	.new-block-feed{
		justify-content: normal;
	}
	.data-p{
		font-weight: bold;
	}
	.block-data{
		justify-content: normal;
		text-align: left;
		padding-left: 20px;
	}
	.info-p, .info-p-2{
		justify-content: normal;
		text-align: left;
		padding-left: 20px;
		color:dimgrey;
		font-size: 21px;
	}

	.area-class textarea{
		width: 100%;
		height: 150px;
		border-radius: 10px;
	}
	.class-like{
		font-weight: bold;
	}
	.report{
		font-weight: bold;
	}
	.input-spn-btn{
		justify-content: end;
		font-size: 21px;
	}
	.description-maps-one{
		font-size: 14pt;
		text-align: left;
		padding-right: 20px;
		padding-left: 20px;
		margin-bottom: 0!important;

	}
	.h2-price-qun{
		text-align: left;
		padding-left: 20px;
	}

	.hall_svg{
		margin-bottom: 0;
	}

	.maps-h2{
		font-size: 28pt;
	}
	.share-item{
		display: flex;
		flex-direction: column;

	}
	.block-pt{
		background: #564a46!important;
	}
	.display-tek{
		display: none;
	}
	.time-name{
		background: #564a46!important;
	}
	.description-maps
	{
		font-size: 14pt;
		text-align: left;
		padding-left:20px;
		padding-right: 20px;
		line-height: 22px;

	}
	.po-bnt{
		display: block;
	}

	.h2-family-fon h2{
		font-size:15pt;
	}
	.shares, .news{
		padding-left: 0;
	}

	.maps-h2,.description-maps-one,.description-maps,.btn-get-back{
		padding-left: 15px!important;
		padding-right: 15px!important;
	}
	.betWine-under{

		text-align: center;
	}



	.h2-shares{
		padding-left: 20px;
		text-align: left;
	}
	.data-new{
		padding-left: 0;
	}
	.text-name{
		width: 100%;
		padding-left: 20px;
	}
	.time-name{
		width: 100%;
		padding-left: 15px;
	}
	.recover-ser{
		display: block;
	}
	.recover-true{
		display: none;
	}
	.away-p{
		padding: 20px 20px 20px;
		margin-bottom: 0;
	}
	.block-share {
		padding-bottom: 15px;
	}
	.news-h2{
		text-align: left;
	}
	.block-flex{
		display: flex;
		padding-right: 15px;
	}
	.date-under-news{
		margin-bottom: 0;
	}
	.block-news-item{
		text-align: left;
	}
	.betWine-under{
		margin-bottom: 0;
		text-align: left;

		font-weight: bold;
	}
	.block-pt{
		margin-left: 0;
	}
	.main_info{
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.h2-family-fon{
		align-items: center;
	}
	.devine {
		padding-left: 20px;
		text-align: left;
	}
	.service-p{
		font-weight: 400;
	}
	.cost-p{
		font-weight: 400;
	}
	.bloc-gre-2{
		padding-top: 0px;


	}

	.two-reviews-h2{
		font-size: 18pt;
	}
	.fa-thumbs-up{
		font-size: 30px;
	}
	.fa-thumbs-down{
		font-size: 30px;
	}
	.flex-item-number2{
		color:#b7aeab;
	}
	/* header */
	header {
	    padding: 10px 0;
	}

	header h3 {
	    padding-right: 0px;
	    padding-left: 0px;
	}

	.main_title {
	    padding-left: 0;
	}

	#call_me_modal .modal-dialog {
	    max-width: 90%;
	}

	#call_me_modal .modal-header button {
	    top: 1%;
	    left: 94%;
	}

	#call_me_done .modal-header button {
	    top: 1%;
	    left: 94%;
	}

	#call_me_done .modal-dialog {
	    max-width: 90%;
	}

	#call_me_modal form input {
	    width: 100%;
	    font-size: 20px;
	}

	#call_me_modal form span {
	    font-size: 16px;
	}

	#call_me_modal .call_me_done {
	    font-size: 18px;
	    padding: 15px 0 !important;
	    width: 100%;
	}

	#call_me_modal .modal-content {
		background: url(img/main_info_modal_bg_mobile.png);
	    padding: 20px 15px 20px 15px;
	}

	#call_me_modal .modal-header button {
	    top: 0%;
	    left: 94%;
	}

	.header_delimiter {
	    padding-right: 0px;
	}

	.marker_sity {
	    margin-right: 0px;
	}

	.main_links_item {
	    align-items: normal;
	    flex-direction: row;
		width: 90%;
		margin-left: auto;
		margin-right: 15px;
	}

	.main_links_info{
		position: relative;
	    text-align: right;
		width: 50%;
	}

	.main_title_info {
	    font-size: 18px;
	    width: 63%;
	    padding-left: 10px;
	}

	.main_title {
	    font-size: 18px;
		width: 35%;
	}

	.telefon_panel {
	    width: 100%;
	    margin-left: 0; 
	}

	.telefon_panel_button {
	    width: 100%;
	    margin-left: 0; 
	}

	.call_me{
		width: 100%;
	}

	.title_action_border {
	    float: right;
	    width: 100%;
	}

	.title_action_border .main_title_info{
		width: 100%;
		text-align: left;
	}

	.title_action_border{
		margin-top: 8px;
	}

	.about_room .main_row_text {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;
	    text-align: left;
	}

	.about_room .main_title {
	    width: 100%;
	}

	.about_room .main_title_info {
	    width: 100%;
	    text-align: center;
	}

	.halls_links {
	    padding: 0;
	}

	.test_plagin{
		height: 300px;
		margin-bottom: 50px;
	}

	.img_main_info {
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		align-items: center;
		margin-top: 10px;
	}

	.img_main_info span {
		font-size: 18px;
		padding-left: 8px;
	}

	.fluid_dg_bar{
		height: 10px !important;
		top: 330px !important;
		display: none;
	}

	.fluid_dg_thumbs{
		display: none;
	}

	.fluid_dg_commands{
		height: 45px;
	    width: 45px;
	    padding: 5px;
	    border-radius: 20px;
	    right: 15px;
	    top: 30px;
	}

	.fluid_dg_commands > .fluid_dg_play {
	    background: url(img/slider_start.png) no-repeat 100% 100%;
	    background-size: cover;
	    background-position: inherit !important;
	    width: 35px;
	    height: 35px;
	}

	.fluid_dg_commands > .fluid_dg_stop {
	    background: url(img/slider_stop.png) no-repeat 100% 100%;
	    background-size: cover;
	    background-position: inherit !important;
	    width: 35px;
	    height: 35px;
	}

	.fluid_dgContent {
	    width: 100%;
	    height: 330px;
	}
	/* header end */
}

@media only screen and (max-width : 400px) {
	/* header */
	.main_categories_item {
	    align-items: center;
	}

	.dropdown-menu.show {
		left: 15px!important;
	}

	.dropdown_button {
		font-size: 16px !important;
	}

	.select_sity {
		left: 20px;
	}

	.div_categories_item {
	    padding-bottom: 10px;
	    flex-direction: column;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.div_categories_item a{
		margin: 5px 0;
		text-align: center;
	}

	.div_main_categories {
	    white-space: normal; 
	    text-align: center;
	}

	.main_categories_title {
	    font-size: 20px;
	    display: flex;
	    margin: 0;
	    text-align: center;
	}

	.marker_sity{
		display: none;
	}

	.telefon_panel_button a {
	    font-size: 15px;
	}

	.telefon_panel_button {
	    padding: 10px 0 !important;
	}

	.call_me_modal .dropdown-p {
	    font-size: 22px;
	}
	/* header end */

	.fluid_dg_next {
	    right: 12% !important;
	}

	.fluid_dg_prev {
	    left: 20% !important;
	}
}

@media (max-width: 350px){

}
@media (min-width: 380px){
	.bloc-gre-2 {
		padding-left: 0;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.header_delimiter{
		display: none;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}